{% extends 'layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
{% endblock %}

{% block tile %}
  The Flack
{% endblock %}

{% block body %}

<div class="main_body">


  <div class="innertube">
    <h2>Channel Name</h2>
  <!-- People in the channel -->
     <!-- Participants -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#participantsModal">
      😊 1
    </button>

    <!-- Modal -->
    <div class="modal fade" id="participantsModal" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="participantsModalLabel">Participants</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>




    <!-- Invite Modal -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteModal">
      Invite ➕
    </button>

    <!-- Modal -->
    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inviteModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="sendInvite"></label>
            <input type="text" class="form-control" id="sendInvite" aria-describedby="createChannel" placeholder="Type username here...">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Send Invitation</button>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="chat-body">
      <!--Chat Messages.-->
      <div>
        <div class="container">
           <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.IysY4WC3y-hRlNWdCK0PbAHaFj%26pid%3D15.1&f=1" alt="Avatar">
           <p>Hello. How are you today?</p>
           <span class="time-right">11:00</span>
        </div>

        <div class="container darker">
           <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.g8t2TrKuE--_z8FHkdFS2gHaIS%26pid%3D15.1&f=1" alt="Avatar" class="right">
           <p>Hey! I'm fine. Thanks for asking!</p>
           <span class="time-left">11:01</span>
        </div>

        <div class="container">
           <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.IysY4WC3y-hRlNWdCK0PbAHaFj%26pid%3D15.1&f=1" alt="Avatar">
           <p>Sweet! So, what do you wanna do today?</p>
           <span class="time-right">11:02</span>
        </div>

        <div class="container darker">
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.g8t2TrKuE--_z8FHkdFS2gHaIS%26pid%3D15.1&f=1" alt="Avatar" class="right">
          <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
          <span class="time-left">11:05</span>
        </div>

        <!-- Chat box -->
        <div class="container">
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.IysY4WC3y-hRlNWdCK0PbAHaFj%26pid%3D15.1&f=1" alt="Avatar" style="width:100%;">
          <p>Hello. How are you today?</p>
          <span class="time-right">11:00</span>
        </div>

        <div class="container darker">
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.g8t2TrKuE--_z8FHkdFS2gHaIS%26pid%3D15.1&f=1" alt="Avatar" class="right" style="width:100%;">
          <p>Hey! I'm fine. Thanks for asking!</p>
          <span class="time-left">11:01</span>
        </div>

        <div class="container">
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.IysY4WC3y-hRlNWdCK0PbAHaFj%26pid%3D15.1&f=1" alt="Avatar" style="width:100%;">
          <p>Sweet! So, what do you wanna do today?</p>
          <span class="time-right">11:02</span>
        </div>

      </div>
    </div>

  </div>


</div>

<!-- Input text -->
<div class="test fixed-bottom">
    <div class="input-group mb-3" >
      <input type="text" class="form-control" placeholder= "💬 Type message here..." aria-label="Type " aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
      </div>
    </div>
</div>





<nav id="nav">
    <div class="innertube">
      <h4 style="margin-left: 17px;">{{session.user_name}}</h4>
<!-- Channel -->
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addChannelModal">
      Channel ➕
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addChannelModal" tabindex="-1" role="dialog" aria-labelledby="addChannelModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addChannelModalLabel">Add Channel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="createChannel">Name</label>
              <input type="text" class="form-control" id="" aria-describedby="createChannel" placeholder="Enter channel name here">
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Create ➕ </button>
          </div>
        </div>
      </div>
    </div>


      <ul style="margin-top: 19px;">
        <div class="vertical-menu">
          <li><button type="button" class="btn btn-light">Channel 1</button></li>
          <li><button type="button" class="btn btn-light">Channel 2</button></li>
          <li><button type="button" class="btn btn-light">Channel 3</button></li>
          <li><button type="button" class="btn btn-light">Channel 4</button></li>
          <li><button type="button" class="btn btn-light">Channel 5</button></li>

        </div>
      </ul>
    </div>
</nav>

{% endblock %}
