{% extends 'layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{url_for('static', filename='IndexBaground.css')}}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="container col-md-5" style="border-top-style: solid;top: 200px; border-top-width: 0px;" >
      <div class="jumbotron my-auto"  >
        <h1 class="display-4">The Flack App</h1>
        <p class="lead">The new way to chat.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
      </div>
    </div>
{% endblock %}
