{% extends 'layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{url_for('static', filename='LoginBaground.css')}}">
{% endblock %}
{% block title %} Login {% endblock %}





{% block body %}

<div align="center" class="container-fluid" style="margin-top: 200px;">




    <form  action="/login" method="post" style="width: 40rem; height: 19rem;">

          <h1 class="card-title">LOGIN</h1>

          <div class="form-group" style="width: 30rem; ">
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
              <button type="button" name="button" class="close" name="button" data-dismiss="alert" aria-lable="close"><span aria-hidden="true" >&times;</span></button>
              Incorrect Username or Password.
            </div>
            {% endif %}
          </div>

          <div class="form-group">
              <input type="text" class="form-control"name="email" value="" placeholder="Email" style="width: 30rem;" required>
          </div>

          <div class="form-group">
              <input type="password" class="form-control" name="password" value="" placeholder="Password" style="width: 30rem;" required>
          </div>

          <button type="submit" class="btn btn-primary" name="button">Login</button>

    </form>

</div>

{% endblock %}
